<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zhumeng.com.uimei.dao.bms.BmsAdminRoleMapper" >
  <resultMap id="BaseResultMap" type="zhumeng.com.uimei.model.bms.BmsAdminRole" >
    <result column="admin_id" property="adminId" jdbcType="INTEGER" />
    <result column="role_id" property="roleId" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="zhumeng.com.uimei.model.bms.BmsAdminRole" >
    insert into t_bms_admin_role (admin_id, role_id)
    values (#{adminId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="zhumeng.com.uimei.model.bms.BmsAdminRole" >
    insert into t_bms_admin_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="adminId != null" >
        admin_id,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="adminId != null" >
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
  
  <delete id="deleleByAdmin" parameterType="java.lang.Integer">
 	   delete from t_bms_admin_role where admin_id=#{adminId}
  </delete>
  
  <insert id="batchInsert" parameterType="java.util.List">
		INSERT INTO t_bms_admin_role (role_id, admin_id
		)
		<foreach collection="list" item="item" index="index"
			separator="union">
			select #{item.roleId},#{item.adminId} from dual
		</foreach>
	</insert>
</mapper>